body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    background-color: rgba(0, 76, 84, .75);
}
/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px (165, 172, 175); 
    border-radius: 2px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: (165, 172, 175); 
    border-radius: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(165,172,175,.8); 
  }

nav {
  display: inline-block;
  width: 100%;
  align-content:center;
  justify-content:center;
  background-color: rgba(186, 202, 211,.8);
  border: .2rem solid black;
  border-bottom: .1rem solid black;
  border-radius: 1rem 1rem 0 0;
  height: 6rem;
}

.pfp {
  position: relative;
  margin: .5rem 1rem 0 3rem;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
}

h1 {
  margin-left: 1rem;
  border-radius: .5rem;
  background-color: #046A38;
  color: black;
  border: .3rem ridge rgb(39, 42, 44);
  display: inline-block;
  padding: .1rem .5rem;
  position: relative;
  bottom: 2rem;
}

h1:hover {
cursor: pointer;
}

nav ul {
  float: right;
  margin-right: 1rem;

}
nav ul li{
    display: inline-block;
    width: 5rem;
    border-radius: 1rem 2rem 0 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    padding: 1rem;
    position: relative;
    background-color: #046A38;
    border: .2rem outset rgba(165,172,175);
    margin: .75rem 2rem;
    bottom: .5rem;
}

nav ul li:hover {
  cursor: pointer;
}

h2 {
  display: inline-block;
  margin: 2rem 0;
  border-radius: .5rem;
  background-color: rgba(186, 202, 211);
  color: black;
  border: .3rem ridge rgb(39, 42, 44);
  padding: .1rem .5rem;
}

#about-me, #skills{
  display: block;
  text-align:center;
  width:100%;
  border: .2rem solid black;
  border-bottom: .1rem solid black;
}

.intro {
  font-size: 2rem;
  margin: 0 auto;
}

#about-me p {
  font-size: 1.25rem;
  margin: 4rem auto;
  width: 50%;
}

#skills ul li {
  list-style: none;
  font-size: 1.1rem;
  line-height: 1.7;
  text-align:left;
  margin-left: 10rem;
}

footer {
  display: inline-block;
  justify-content: space-around;
  background-color:rgba(82, 86, 85, 0.8);
  border: .2rem solid black;
  border-radius: 0 0 1rem 1rem;
  width: 100%; 
  text-align: center;
}

h4 {
  display: inline-block;
  border-radius: .5rem;
  background-color: #046A38;
  color: black;
  border: .3rem ridge rgb(39, 42, 44);
  padding: .1rem .5rem;
  position: relative;
}

#email, #phone {
  display: inline-block;
  margin: 1rem 3rem 1.5rem 3rem;
}